{{ define "main" }}

<!-- Attention il s'agit de la liste des articles de l'autheurs et non la liste des autheurs-->

<div class=" bg-gray-900 xl:bg-blue-600 lg:bg-red-700 md:bg-orange-400 sm:bg-green-600">
    <div class=" md:flex justify-center py-16 ">
        <div class=" p-2 my-auto">
            <img class=" shadow-2xl  rounded-full h-48 w-48 mx-auto border-8 border-blue-800 " src="
                    {{ with .Params.photo }}{{ . }}{{ else }}{{ .Site.Params.authorimage }}{{ end }}" alt="Perfil">
        </div>
        <div class="p-8  my-auto ">
            <h1 class="text-orange-100 text-3xl text-center"> <a class=" "
                    href="{{ .Permalink }}">{{if .Params.name }}{{.Params.name}}{{else}}{{ .Params.title }}
                    {{end}}</a> </h1>
            <p class=" text-white text-xl text-center md:text-left"> <a class=" " href="#"><i
                        class="fab fa-github"></i></a>
                <a class="" href="mailto:{{ .Params.mail }}"><i class="far fa-envelope"></i></a> </p>
        </div>

    </div>

</div>



<div class=" mt-4 mx-8 text-center md:text-justify md:w-2/3 lg:w-2/4 xl:w-2/4 md:mx-auto  text-lg mb-16">

    <h2 class=" text-center text-4xl mb-6">Bio</h2>



    {{ if .Params.name  }}{{ .Content }}{{else}}{{ .Site.Params.Description }} {{end}}


</div>


<h2 class="text-center text-4xl mb-6">Articles</h2>
<hr>

{{ range .Data.Pages }}
<div class="md:flex shadow-xl m-8 p-6 mb-16">
    <!-- top image carte -->
    <img class=" mx-auto my-auto rounded-full h-48 w-48 "
        src="{{with .Params.featured_image}}{{.}}{{else}}{{ .Site.Params.featured_image }}{{end}}" alt="">
    <div class=" my-auto p-5">
        <h3 class=" md:text-left text-center  text-3xl"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
        <h4 class=" md:text-left text-center  text-2xl"> Description </h4>
        <p class=" md:text-left text-center text-xl mb-4 ">
            {{ with .Params.description }}
            {{ . }}{{ end }}

        </p>
        <hr>
        <p class=" text-justify text-xl mt-4 "> {{.Summary}}</p>
    </div>
</div>
{{ end }}

{{ end }}