{{ define "main" }}
<article class=" md:w-3/4 lg:w-2/4 sm:w-3/4 md:mx-auto sm:mx-auto mx-12 mt-40">
    <div class=" shadow-2xl relative bg-cover bg-center  mx-auto p-2 z-0"
        style="background-image: url('{{with .Params.featured_image}}{{.}}{{else}}{{ .Site.Params.featured_image }}{{end}}');">
        <div class="   w-2/4 p-8 my-32 mx-auto " style="background-color: rgba(255, 255, 255, 0.8);">
            <h1 class=" text-center md:text-4xl text-2xl text-blue-800  ">{{ .Title }}
            </h1>
        </div>
        <div class=" absolute bottom-0 right-0  w-1/6 bg-blue-600 py-2">
            <p class=" text-center text-white text-xs"> <i class=" far fa-calendar-alt"></i>

                <!-- date en Fr via data/mois.yaml merci https://www.christopheducamp.com/ ;) -->
                <time class="" datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}'>{{ .Date.Day }}
                    {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}</time> </p>

            <p class=" text-center text-white text-xs "> <i class=" fas fa-clock"></i>
                {{.ReadingTime }} minutes
            </p>
        </div>
    </div>


    <div class=" text-justify text-gray-700 text-lg mt-20 "> {{ .Content }}</div>
</article>

<hr class=" md:w-3/4 lg:w-2/4 sm:w-3/4 mx-auto mt-12">

{{- partial "signature.html" . -}}


{{ end }}